<table id="root" width="100%" cellpadding="0" cellspacing="0" bgcolor="#e4e4e4" align="center">
  <tr>
    <td>
      <table id="top-message" cellpadding="20" cellspacing="0" width="800" align="center">
      </table> {{!-- top-message --}}
      <table id="main" cellpadding="0" cellspacing="15" bgcolor="#ffffff" width="800" , align="center">
        <tr>
          <td>
            <table id="header" cellpadding="10" cellspacing="0" align="center">
              <tr>
                <td width="790" style="background:#ffffff;color:#183867;" align="center">
                  <h1 style="padding:0px;margin:0px">C Днём рождения!!!</h1>
                </td>
              </tr>
              <tr>
                <td width="790" style="background:#ffffff;color:#183867;">
                  <p>Добрый день {{data.birthUserName}},</p>
                  <p>Сегодня {{data.birthdate}} - ваш День рождение! 🎂🥳🎉</p>
                  <p>От всего сердца поздравляем Вас с праздником!</p>
                  <p>С Вами очень приятно работать. Мы высоко ценим Ваш профессионализм и особенно — Ваш ум, трудолюбие,
                    доброжелательность, готовность всегда помочь. </p>
                  <p>Желаем Вам новых достижений, здоровья, счастья и исполнения желаний!</p>
                  <p>С уважением,<br />
                    <strong>Коллектив ГЕНДЖО</strong><br />
                  </p>
                </td>
              </tr>
            </table><!-- header -->
          </td>
        </tr>
      </table>{{!-- main --}}
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </td>
  </tr>
</table> {{!-- root --}}
</table> {{!-- bottom-message --}}
</table>