<table id="root" width="100%" cellpadding="0" cellspacing="0" bgcolor="#e4e4e4" align="center">
  <tr>
    <td>
      <table id="top-message" cellpadding="20" cellspacing="0" width="800" align="center">
      </table> {{!-- top-message --}}
      <table id="main" cellpadding="0" cellspacing="15" bgcolor="#ffffff" width="800" , align="center">
        <tr>
          <td>
            <table id="header" cellpadding="10" cellspacing="0" align="center">
              <tr>
                <td width="790" style="background:#ffffff;color:#183867;" align="center">
                  <h1 style="padding:0px;margin:0px">Сегодня День рождение у коллеги!!!</h1>
                </td>
              </tr>
              <tr>
                <td width="790" style="background:#ffffff;color:#183867;">
                  <p>Добрый день {{data.recipientUserFirstName}},</p>
                  <p>Уведомляю вас, о том что сегодня <i>({{data.birthdate}})</i> день рождение у <strong>{{data.userName}}</strong>!!!</p>
                  <h3>Вы можете поздравить коллегу. 🤗</h3>
                  <p>
                    С уважением,<br />
                    <strong>ГЕНДЖО Портал</strong><br />
                    <i>(Автоматизированная система)</i>
                  </p>
                </td>
              </tr>
            </table><!-- header -->
          </td>
        </tr>
      </table>{{!-- main --}}
      <p>&nbsp;</p>
      <p>&nbsp;</p>
    </td>
  </tr>
</table> {{!-- root --}}
</table> {{!-- bottom-message --}}
</table>